:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-grey: hsl(0, 0%, 59%);

  --fs-standard: 1.8rem;

  --mobile-width: 37.5rem;
  --desktop-width: 144rem;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  font-size: var(--fs-standard);
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  background: var(--dark-cyan);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #fff;
  width: 38rem;
  border-radius: 1.5rem;
  overflow: auto;
  z-index: 100;
}

.card_bg {
  height: 25vh;
  background: url('/images/bg-pattern-card.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card_profile {
  text-align: center;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgb(226, 218, 218);
}

.card_profile--avatar {
  margin: -5rem 0 2rem;
  border: 5px solid #fff;
  border-radius: 50%;
}

.card_profile--name {
  font-weight: 700;
  margin-right: 0.5rem;
  color: var(--dark-desaturated-blue);
}

.card_profile--location {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: var(--dark-grey);
}

.card_status {
  padding: 3rem 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card_status--box {
  text-align: center;
  color: var(--dark-desaturated-blue);
  font-weight: 700;
  font-size: 2rem;
}

.card_status--statics {
  display: block;
  color: var(--dark-grey);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1em;
  margin-top: 0.5rem;
}

.bg_top {
  position: absolute;
  left: -15%;
  top: -52%;
  height: 100%;
  width: 100%;
  background: url('/images/bg-pattern-top.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.bg_bottom {
  position: absolute;
  right: -72%;
  bottom: -50%;
  height: 100%;
  width: 100%;
  background: url('/images/bg-pattern-bottom.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 850px) {
  .bg_top {
    left: -35%;
    top: -42%;
  }

  .bg_bottom {
    position: absolute;
    right: -58%;
    bottom: -50%;
  }
}
